
services:
  backend:
    user: "1000:1000"
    build:
      context: .
      dockerfile: Dockerfile.backend
    volumes:
      - ./backend:/var/www/html:cached
      - ./backend/000-default.conf:/etc/apache2/sites-available/000-default.conf
    container_name: symfony_app_backend
    environment:
      DATABASE_URL: mysql://symfony:symfony@db:3306/symfony_db?serverVersion=8.0.32&charset=utf8mb4
    depends_on:
      - db
    networks:
      - proxy-net
  frontend:
    user: "1000:1000"
    build:
      context: .
      dockerfile: Dockerfile.frontend
    volumes:
      - ./frontend/dist:/var/www/html:rw
      - ./frontend/000-default.conf:/etc/apache2/sites-available/000-default.conf
    container_name: app_frontend
    depends_on:
      - backend
    networks:
      - proxy-net
   
  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: symfony_db
      MYSQL_USER: symfony
      MYSQL_PASSWORD: symfony
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - proxy-net

  proxy:
    image: nginx:latest
    container_name: nginx_proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend
      - frontend
    networks:
      - proxy-net

volumes:
  db_data:
  node_cache: {}

networks:
  proxy-net:
    external: true


